<div class="footer ui-resizable-autohide pos-relative">
    <div class="pull-right">
        مدیریت باشگاه مشتریان
    </div>
    <div>
        <strong>Copyright</strong> Wincoin Company &copy; 2010 - 2019
    </div>
</div>