@page
@{
    ViewData["Title"] = "مدیریت همه در یکجا";
}
@(await Html.PartialAsync("StructuredData/_OrganizationJsonLD"))

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="text-center">
            متاسفانه سیستم در انجام عملیات مورد درخواست شما با مشکل مواجه شد.
            متخصصان از این اتفاق آگاه خواهند شد و مشکل را در اسرع وقت رفع خواهند کرد.
            با سپاس از شما
        </span>
    </div>
</div>