@page
@{
    ViewData["Title"] = "قوانین و مقررات";
}
@(await Html.PartialAsync("StructuredData/_OrganizationJsonLD"))

<div class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6 justify-text">
                <h2 class="font-bold">هومت - Humate</h2>
                <p>
                    تیم توسعه هومت با تلاش و احساس مسئولیت مستمر توانسته اند سیستم احراز هویت متمرکز و سطوح دسترسی کاربران
                    را در شرکت ایران خودرو پیاده سازی نمایند. تجربه توسعه چنین سیستمی در شرکت های بزرگ با بیش از 700 نرم افزار عملیاتی
                    و در حال اجرا باعث شد به فکر پیاده سازی سیستم مشابه و ارتقاء یافته در محیط اینترنت بیافتیم.
                    همین امر موجب شد سامانه احراز هویت متمرکز و سطوح دسترسی کاربران جهت استفاده عموم پیاده سازی شود.
                    چشم انداز تیم توسعه هومت رسیدن به یک  پلتفرم استقرار یافته با ویژگی های خاص و
                    منحصر بفرد در امر خدمت رسانی به نرم افزار ها و سامانه های دیگر می باشد،
                    پدید آوردن چنین پلتفرمی مستلزم یاری شما مهندسین عزیز
                    و حمایت سازمان ها و شرکت ها است.
                    اندیشه نیک همواره راه را آسانتر خواهد کرد.
                    <small> هومت در هر زمان و هر کجا قابل دسترس خواهد بود.</small>
                </p>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <img src="~/img/favicon.png" width="64" alt="لوگو">
                </a>
                <p class="text-color">
                    هومت به معنای اندیشه ی نیک در زبان پارسی می باشد و روی بال راست اهورا مزدا
                    جای دارد.
                    هدف ما مدیریت اندیشه،دانش و در نهایت داده هاست،
                    که با استفاده از این سامانه سعی بر فراهم نمودن امکان مدیریت آنها می نماییم.
                </p>
            </div>
        </div>
    </div>
</div>